PORT=
MONGO_URI=
JWT_SECRET=[SECRET_KEY]

GOOGLE_APP_EMAIL=
GOOGLE_APP_PASSWORD=

KASHIER_MERCHANT_ID=your_kashier_merchant_id
KASHIER_API_KEY=your_kashier_api_key
KASHIER_SECRET_KEY=your_kashier_secret_key
KASHIER_WEBHOOK_URL=https://<your-ngrok-subdomain>.ngrok-free.app/donations/webhook